h1 {
    font-size: 40px;
    color: violet;
    font-style: italic;

}

p {
    /*add a custom google font family */
    font-family: 'Oswald', sans-serif;
    /* change the size */
    font-size: 30px;
    /*change the line height */
    line-height: 150px;
    /* change the color */
    color:darkgreen;
}

.button-link {
    border-style: solid;
    border-color: cornflowerblue;
    background-color: plum;
    border-width: 2px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px;
}