html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 40px;
    color: violet;
    font-style: italic;

}

p {
    /*add a custom google font family */
    font-family: 'Oswald', sans-serif;
    /* change the size */
    font-size: 30px;
    /*change the line height */
    line-height: 75px;
    /* change the color */
    color:darkgreen;
}

.button-link {
    border-style: solid;
    border-color: cornflowerblue;
    background-color: plum;
    border-width: 2px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.button-alert {
    border-style: solid;
    border-color: yellowgreen;
    background-color: blueviolet;
    border-width: 2px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    padding: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    font-style: italic;
}

.top-banner {
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color: aqua;


}

.main-content {
    margin: 0 auto;
    padding: 0 10px;
    background-color: pink;

}

footer {
    height: 100px;
    text-align: center;
    padding-top: 0 10px;
    background-color: aqua;


}

nav {
    padding: 20px;
    background-color: cornsilk;

}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin: 0 auto;
    width: 200px;

}
.nav-links li a {
    padding-left: 10px;
    padding-right: 5px;;
}

